{% extends 'layoutAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Actualités | {{ parent() }}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('adminList') }}
    {% endblock %}

{% block body %}
    <h1 class="title my-5">Liste des actualités</h1>

    <main class="sheettop container mb-5">
        <div class="row">
            <div class="col">
                {{ form_start(form) }}
                <p class="m-0">{{ form_widget(form) }}</p>
                <p class="">
                    <button class="btn btn-primary">Rechercher</button>
                </p>
                {{ form_end(form) }}
            </div>
        </div>

        <a class="btn btn-primary" href="{{ path('admin_event_new') }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd"
                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Ajouter une nouvelle actualité
        </a>

        <div class="table-responsive">
            <table class=" table table-hover event-list">
                <thead class="bg-secondary text-light col-12">
                <tr>
                    <th colspan="7" class="text-center">A la une sur le site</th>
                </tr>
                </thead>
                <thead class="bg-primary text-light">
                <tr>
                    <th>Date de la manifestation</th>
                    <th>Titre</th>
                    <th>Categorie</th>
                    <th>Date de publication</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.eventdate is empty ? 'N/A' : event.eventdate|date('d/m/Y') }}</td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.category.name }}</td>
                        <td>{{ event.date is empty ? 'N/A' : event.date|date('d/m/Y') }}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary rounded"
                                   href="{{ path('admin_event_edit', {'id': event.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                                         class="bi bi-pen" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                    </svg>
                                </a>
                                <span class="ml-2">{{ include('admin_event/_archive.html.twig') }}</span>
                                <span class="ml-2">{{ include('admin_event/_delete.html.twig') }}</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class=" table table-hover event-list">
                <thead class="bg-secondary text-light">
                <tr>
                    <th colspan="7" class="text-center">Archives</th>
                </tr>
                </thead>
                <thead class="bg-primary text-light">
                <tr>
                    <th>Date de la manifestation</th>
                    <th>Titre</th>
                    <th>Categorie</th>
                    <th>Date de publication</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in eventsArchive %}


                    <tr>
                        <td>{{ event.eventdate is empty ? 'N/A' : event.eventdate|date('d/m/Y') }}</td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.category.name }}</td>
                        <td>{{ event.date is empty ? 'N/A' : event.date|date('d/m/Y') }}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary border border-primary rounded"
                                   href="{{ path('admin_event_edit', {'id': event.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                                         class="bi bi-pen" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                    </svg>
                                </a>
                                <span class="ml-2">{{ include('admin_event/_unarchive.html.twig') }}</span>
                                <span class="ml-2">{{ include('admin_event/_delete.html.twig') }}</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a class="btn btn-danger" href="{{ path("admin_home") }}">
            Retour à l'accueil
        </a>

    </main>
{% endblock %}
