{% extends 'layoutAdmin.html.twig' %}

{% block title %}Actualités | {{ parent() }}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('adminList') }}
    {% endblock %}



{% block body %}

    <main class="sheettop container-fluid">
        <h1 class="title">Liste des actualités</h1>

        <a class="btn btn-primary" href="{{ path('admin_event_new') }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Ajouter une nouvelle actualité
        </a>
        <table class=" table table-hover event-list">
            <thead class="bg-primary text-light">
                <tr>
                    <th>Image</th>
                    <th>Date</th>
                    <th>Titre</th>
                    <th>Categorie</th>
                    <th>Résumé</th>
                    <th>Lien de l'évènement</th>
                    <th>Lien de la vidéo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td><img class="thumbnail" src="{{ event.url }}" alt="Thumbnail of {{ event.title }}"></td>
                        <td>{{event.date|date('d/m/Y')}}</td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.category}}</td>
                        <td>{{ event.summary}}</td>
                        <td>{{ event.eventlink}}</td>
                        <td>{{ event.video}}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary"  href="">détails</a>
                            <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_event_edit', {'id': event.id}) }}">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                                Modifier
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



    </main>
{% endblock %}
