{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}Actualités | {{ parent() }}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('event') }}
    {% endblock %}
{% block body %}

    <header>
        <h1 class="card-title text-center py-5">ACTUALITES</h1>
    </header>

{% block form_row %}
<div class="form_row">
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button>Rechercher</button>

    {{ form_end(form) }}
</div>
{% endblock form_row %}

    <section class="container sheettop">
        <div class="row">

            {% for event in events %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card margin">

                        <div class="card-header text-center">{{ event.category.name }}</div>

                        <img class="card-img-top" src="{{ event.url }}" alt="{{ event.title }}">
                        <div class="card-body">
                            <h5 class="card-title text-center"> {{ event.title }} </h5>
                            <h5 class="card-title text-center"> {{event.eventdate is empty ? '' : event.eventdate|date('d/m/Y')}}</h5>
                            <p class="card-text">{{ event.description }}</p>

                            <a href="{{ path ('event_show',{'id' :event.id}) }}" class="btn btn-outline-primary" role="button">En savoir plus</a>
                            </div>
                    </div>
                </div>
            {% else %}
                "Il n'y a actuellement aucun évènement de programmé, merci de venir consulter cette section ultérieurement"
            {% endfor %}
        </div>
    </section>

{% endblock %}
