{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}Actualités | {{ parent() }}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('event') }}
    {% endblock %}
{% block body %}

    <header xmlns="http://www.w3.org/1999/html">
        <h1 class="text-center py-5 event-bg mb-0">Actualités</h1>
    </header>

    <section class="container event-bg-filter my-5">
            <p>Je vous propose de découvrir les évènements et salons auxquels je
                participe ainsi que des enregistrements vidéos afin que vous puissiez librement pratiquer la sophrologie
                chez vous en toute autonomie ou bien dans le cadre du prolongement des séances.
            </p>
            {% block form_row %}
            <div class="text text-primary ckeditor">
                {{ form_start(form) }}

                            {{ form_widget(form) }}
                            <p><button class="btn btn-lg btn-primary p-2 mb-1 pb-2">Rechercher</button></p>

                        {{ form_end(form) }}
                    </div>
            {% endblock form_row %}
    </section>
    <section class="container-fluid event-bg py-5">
        <div class="row mx-0 d-flex justify-content-center py-3">
            {% for event in events %}
                <div class=" card col-md-3 col-sm-12 list-group m-4 p-5">
                    <div class="text-center text-uppercase">
                        <h5>{{ event.category.name }}</h5>
                    </div>
                    <hr/>
                    <div class="text-center text-uppercase mb-2">
                        <h4>{{ event.title }} </h4>
                    </div>
                    <div>
                        <img class="mb-4 w-100 h-100" src="{{ vich_uploader_asset(event, 'pictureFile') }}"
                             alt="{{ event.title }}"/>
                    </div>
                    <div class="w-100 h-100 text-left py-4">
                        <h6>{{ event.eventdate is empty ? '' : event.eventdate|date('d/m/Y') }}</h6> {{ event.description }}
                    </div>
                    <div>
                        <a href="{{ path ('event_show',{'id' :event.id}) }}" class="btn btn-primary" role="button">En
                            savoir plus</a>
                    </div>
                </div>
            {% else %}
                Il n'y a actuellement aucune actualité publiée, merci de venir consulter cette section ultérieurement
            {% endfor %}
        </div>
    </section>
    {% include 'includes/_arrowUp.html.twig' %}
{% endblock %}

