{% extends 'layout.html.twig' %}

{% block title %}Actualités | {{ parent() }}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('event') }}
    {% endblock %}
{% block body %}
    <section class="container sheettop mb-3 mb-lg-5">
        <h5 class="mb-4 text-lg-right">Publié le {{event.date is empty ? '' : event.date|date('d/m/Y')}}</h5>
        <h2 class="mb-4 text-center">{{ event.title }}</h2>
        <h4 class="mb-4 text-center">{{event.eventdate is empty ? '' : event.eventdate|date('d/m/Y')}}</h4>
        <section class="section2 jumbotron container bg-white py-4 py-lg-5 px-0 mb-0 d-lg-flex text-lg-left">
            <div class="d-flex align-items-center justify-content-center">
                <img class="imgdetail" src="{{ event.url }}" alt="{{ event.title }}">
            </div>
            <div class="container ml-lg-5 text-left text-lg-left">
                <p class="card-text">{{ event.description }}</p>
                <p class="card-text">{{ event.summary }}</p>

            </div>

        </section>
        <section class="section2 jumbotron container bg-white py-4 py-lg-5 px-0 mb-0 d-lg-flex text-lg-left">
            <div class="d-flex container text-left text-lg-left p-0">
            <p class="card-text">{{ event.article|raw }}</p>
            </div>
        </section>
        <div class="container mr-auto px-0">
            {% if event.eventlink != '' %}
                <a href="{{ event.eventlink}}" class="btn btn-secondary ">Lien vers le site de l'évènement</a>
            {% else %}
            {% endif %}

            {% if event.video != '' %}
                <a href="{{ event.video}}" class="btn btn-secondary">Lien vers la vidéo</a>
            {% else %}
            {% endif %}
        </div>
    </section>

{% endblock %}


