{% extends 'layout.html.twig' %}

{% block title %}Actualités | {{ parent() }}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('event') }}
    {% endblock %}
{% block body %}



        <h1 class="text-center py-5 event-bg mb-5">{{ event.title }}</h1>

    <section class="w-100">
        <div class="container-fluid px-lg-5 px-3 pb-5 d-flex flex-xl-row justify-content-between flex-column">
            <div class="d-flex justify-content-around align-items-left mx-xl-5 mb-xl-0 mb-5">
                <img class="img " src="{{ vich_uploader_asset(event, 'pictureFile') }}" alt="{{ event.title }}">
            </div>
            <div class="mx-xl-5">
                <p class="card-text">{{ event.description }}</p>
                <p class="card-text text-muted">{{ event.summary }}</p>
            </div>
        </div>
    </section>



    <section class="w-100 py-5 ">
        <div class="container-fluid ml-5 px-lg-5 px-3 pb-5 ">

            <p class="card-text mr-5">{{ event.article|raw }}</p>
        </div>

        </section>

<section class="w-100 py-5 ">
        <div class="container mr-auto px-0 mb-4">
            {% if event.eventlink != '' %}
                <a href="{{ event.eventlink}}" class=" text-primary mb-5">Site de l'évènement</a>
            {% else %}
            {% endif %}
        </div>
            <div class="text-xl-center">
                {% if event.video != '' %}
                    <iframe  width="560" height="315" src="{{ event.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% else %}
                {% endif %}
            </div>

<div class="container mr-auto px-0">
    <h5 class="mb-4 text-lg-left pt-5">
        {% if event.date != '' %}
            {{ 'publié le ' }}{{event.date is empty ? '' : event.date|date('d/m/Y')}}
        {% else %}
        {% endif %}
    </h5>

    <a href="{{ path("event_index") }}" class="btn btn-primary text-light mb-5">Retour à la liste des actualités</a>
</div>


{% endblock %}


