{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <header>
        <div class="background-image">
        </div>
        <div class="home-page-logo w-100 text-center">
            <img class="logo" src="{{ asset('build/images/logo.png') }}"/>
        </div>
        <div class="home-page-titles w-100 text-center">
            <a href="{{ path("contact") }}#contact" class="btn btn-lg
            p-3">PRENDRE RENDEZ-VOUS</a>
            <h1 class="title text-center text-light my-4">CABINET DE SOPHROLOGIE</h1>
            <h2 class="title text-center text-light my-4">Charlotte RICORDEAU</h2>
            <h2 class="title text-center text-light my-4">ORLEANS METROPOLE</h2>
        </div>
    </header>

    <section class="section2 container bg-white py-lg-5 pt-5 pb-3 px-0 mb-0 d-lg-flex text-lg-left">
        <div class="d-flex flex-column align-items-center justify-content-center text-center text-lg-left px-2">
            <img class="sophro-picture mb-5 shadow p-1" src="{{ asset('build/images/profil.png') }}" alt="picture of the sophrologist">
            <div class="mt-lg-5 mt-0">
                <p class="mb-3 mb-lg-5">Diplômée de l’Ecole Supérieure de Sophrologie Appliquée (ESSA) de Vincennes</p>
                <p class="mb-3 mb-lg-5">Certifiée au Répertoire Nationale de Certification Professionnelle (RNCP)
                    <a href="https://www.sophrologie-francaise.com/index.php/devenir-sophrologue/rncp">
                        <strong>Qualification reconnue par l’Etat</strong>
                    </a>
                </p>
                <p class="mb-3 mb-lg-5">Formation spécialisée Equilibre pondéral et Comportement Adapté (EPCA)</p>
                <p class="mb-3 mb-lg-5">BTS de diététique à Paris</p>
            </div>
        </div>
        <hr>
        <div class="container ml-lg-5 text-center text-lg-left">
            <h2 class="mb-2">Charlotte Ricordeau</h2>
            <h5 class="my-4 d-flex flex-column flex-lg-row">
                <div class="d-flex align-items-center justify-content-center mb-2 mb-lg-0">
                    <img class="ml-lg-0 ml-3 mr-2" src="{{ asset('build/images/star.png') }}" alt="logo star">Sophrologue
                </div>
                <div class="d-flex align-items-center justify-content-center mb-2 mb-lg-0">
                    <img class="ml-3 mr-2" src="{{ asset('build/images/star.png') }}" alt="logo star">Diététicienne Nutritionniste
                </div>
            </h5>
            <p class="mb-4"><strong>Pourquoi suis-je devenue Sophrologue ?</strong> La sophrologie m’a beaucoup aidée pour mieux gérer certaines
                situations. Cette pratique m’a permis de prendre conscience que j’étais en capacité de réussir à la fois dans
                ma sphère personnelle comme dans ma vie professionnelle. J’ai ressenti très vite le besoin de faire connaitre
                cette méthode autour de moi et je me suis formée pour pouvoir la partager.</p>
            <p><strong>Pourquoi suis-je devenue Diététicienne ? </strong>J’aime manger, faire la cuisine et partager des repas avec des
                amis ou en famille. Pour certaines personnes au contraire, l’évocation d’un repas est source de stress pour
                différentes raisons : peur de prendre du poids, frustration occasionnée par un régime trop restrictif, réveil de
                blessures psychologiques liées aux moqueries endurées dans l’enfance adressées au « gros » qui mange
                trop, etc… Comme la solution ne se trouve pas que dans l’assiette, je suis là pour vous redonner du plaisir à
                manger et vous proposer un accompagnement adapté vers un changement positif.</p>
            <p><strong>Pourquoi mes deux métiers sont complémentaires ?</strong></p>
                <p>- En tant que Diététicienne, je mets en œuvre une méthode cartésienne et scientifique, basée sur des
                connaissances acquises dans le domaine de la physiologie du corps humain et du métabolisme biochimique de l’organisme</p>
            <p>- En tant que Sophrologue, je mobilise d'autres compétences dans le domaine de la psychologie je me mets à
                l’écoute de vos ressentis, de vos émotions. Par des techniques éprouvées comme le "lâcher prise" que
                vous vous autoriserez lors des séances ou la maîtrise de la respiration que je vous ferai pratiquer,
                je vous accompagnerai dans votre parcours vers un sentiment de bien-être.</p>
            <p> <strong>Mes deux métiers m’aident à avoir le recul nécessaire</strong> pour mieux vous conseiller et prendre en compte <strong>la globalité de votre personne</strong> dans une approche combinée corps-esprit.
            </p>
        </div>
    </section>


    <section class="section3 jumbotron m-0 py-4 py-lg-5">
        <div class="container text-center text-lg-left px-0">
            <div class="d-flex flex-column">
                <h2 class="mb-3 mb-lg-4">Qu'est ce que la sophrologie ?</h2>
                <p class="mb-3 mb-lg-4">La sophrologie est une méthode de relaxation psychocorporelle qui permet de retrouver un bien-être au
                    quotidien, de se détendre, de prendre conscience de ses propres capacités et de les développer.</p>
                <p class="mb-3 mb-lg-4">Créée par le médecin Alfonso Caycedo en 1966, la sophrologie est une méthode de relaxation
                    psychocorporelle qui permet de retrouver un bien-être au quotidien, de prendre conscience de ses propres
                    capacités et de les développer.</p>
            </div>

            <a href="{{ path("sophrology") }}" class="btn btn-primary text-light">En savoir plus</a>
        </div>
    </section>

    <section class="container section4 my-4 my-lg-5">
        <h2 class="text-center text-lg-left mb-4">Mes spécialités</h2>
            <div class="row mx-0 d-flex justify-content-around mt-2 pt-3">
                {%  for speciality in specialities %}
                    <ul class="speciality-card col-sm-12 col-md-5 col-lg-4 my-3 px-2 list-group list-group-flush">
                        <li class="speciality-card-title list-group-item text-center text-uppercase">
                            <h3>{{ speciality.title }}</h3>
                        </li>
                        <li class="speciality-card-text list-group-item">
                            <p class="p-0">{{ speciality.description }}</p>
                        </li>
                    </ul>
                {% endfor %}
            </div>



    </section>
{% endblock %}
