{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <header>
        <div class="background-image">
        </div>
        <div class="home-page-logo w-100 text-center mt-2 p-lg-0 p-3">
            <img class="logo" src="{{ asset('build/images/logo.png') }}"/>
        </div>
        <div class="home-page-titles w-100 text-center">
            <h1 class="title text-center text-light my-3">CABINET DE SOPHROLOGIE</h1>
            <h2 class="title text-center text-light my-3">Charlotte RICORDEAU</h2>
            <h2 class="title text-center text-light my-3">ORLÉANS MÉTROPOLE</h2>
        </div>
        <div class="home-page-btn w-100 text-center">
            <a href="{{ path("contact") }}" class="btn btn-lg p-3">PRENDRE RENDEZ-VOUS</a>
        </div>
    </header>

    <section class="section2 container bg-white pt-5 pb-3 pb-lg-0 px-0 mb-0 d-lg-flex flex-row-reverse justify-content-between">
        <div class="d-flex flex-column align-items-center justify-content-center px-2">
            <img class="sophro-picture mb-4 shadow p-1" src="{{ asset('build/images/profil.png') }}"
                 alt="picture of the sophrologist">
            <p>"Un esprit sain dans un corps sain"</p>
            <p class="italics">citation extraite de la dixième Satire de Juvénal.</p>
            <ul class="mt-lg-3 mt-0">
                <li class="mb-3 mb-lg-4">Diplômée de l’Ecole Supérieure de Sophrologie Appliquée (ESSA) de Vincennes</li>
                <li class="mb-3 mb-lg-4">Certifiée au Répertoire Nationale de Certification Professionnelle (RNCP)
                    <a href="https://www.sophrologie-francaise.com/index.php/devenir-sophrologue/rncp" target="_blank">
                        <strong>Qualification reconnue par l’Etat</strong>
                    </a>
                </li>

                <li class="mb-3 mb-lg-4">Formation spécialisée Equilibre pondéral et Comportement Adapté (EPCA)</li>
                <li>BTS de diététique à Paris</li>
            </ul>
        </div>
        <hr>
        <div class="container d-flex flex-column justify-content-between p-lg-0 mr-lg-5 mr-0">
            <h2 class="text-lg-left text-center mb-3">Charlotte Ricordeau</h2>
            <div class="mt-4 mt-lg-2">
                <div class="d-flex align-items-center mb-2">
                    <img class="mr-2" src="{{ asset('build/images/star.png') }}" alt="logo star">
                    <h5 class="mb-0">Sophrologue</h5>
                </div>
                <p>
                    <strong>Pourquoi suis-je devenue Sophrologue ?</strong>
                    <br>
                    La sophrologie m’a bien aidée pour mieux gérer certaines situations.
                </br>
                    Cette pratique m’a permis de prendre conscience que j’étais en capacité de réussir à la fois dans
                    ma sphère personnelle comme dans ma vie professionnelle. J’ai vite ressenti le besoin de faire connaître
                    cette méthode autour de moi et je me suis formée pour la partager avec vous.
                </p>
            </div>

            <div class="mt-4 mt-lg-2">
                <div class="d-flex align-items-center mb-2">
                    <img class="mr-2" src="{{ asset('build/images/star.png') }}" alt="logo star">
                    <h5 class="mb-0">Diététicienne - Nutritionniste</h5>
                </div>
                <p>
                    <strong>Pourquoi suis-je devenue Diététicienne ? </strong>
                    <br>
                    J'aime manger, cuisiner et partager des repas avec des amis ou en famille. Aussi, j'ai plaisir à
                    donner des conseils nutritionnels pour votre santé.
                    En recevant certains patients, j'ai pris conscience que l’évocation d’un repas peut-être source de
                    stress pour différentes raisons : frustrations dûes à des régimes trops restrictifs, blessures
                    phychologiques d'enfance...<br>
                    Dans les cas où la solution ne se trouverait pas que dans l'assiette, je vous accompagnerai vers
                    un changement positif grâce à la sophrologie.
                </p>
            </div>

            <div class="mt-4 mt-lg-2">
                <p class="mb-0">
                    <strong>Pourquoi mes deux métiers sont complémentaires ?</strong>
                    <br>
                    En tant que Diététicienne, je mets en œuvre une méthode cartésienne et scientifique, basée sur des
                    connaissances acquises dans le domaine de la physiologie du corps humain et du métabolisme biochimique de
                    l’organisme.
                </p>
            </div>
        </div>
    </section>

    <section class="container mt-lg-4 mt-0 mb-5 p-lg-0">
        <p>
            En tant que Sophrologue, je mobilise d'autres compétences dans le domaine de la psychologie. Je me mets à
            l’écoute de vos ressentis et de vos émotions. Par des techniques éprouvées comme le "lâcher prise" que
            vous vous autoriserez lors des séances ou la maîtrise de la respiration que je vous ferai pratiquer,
            je vous accompagnerai dans votre parcours vers un sentiment de bien-être.
            <br><br>
            <strong>Mes deux métiers m’aident à avoir le recul nécessaire</strong> pour mieux vous conseiller et prendre
            en compte <strong>la globalité de votre personne</strong> dans une approche combinée corps-esprit.
        </p>
    </section>


    <section class="section3 jumbotron m-0 py-4">
        <div class="container px-0 my-3">
            <div class="d-flex flex-column">
                <h2 class="mb-3 mb-lg-4 text-lg-left text-center">Qu'est ce que la sophrologie ?</h2>
                <p class="mb-3 mb-lg-4">La sophrologie est une méthode de relaxation psychocorporelle qui permet de
                    retrouver un bien-être au
                    quotidien, de se détendre, de prendre conscience de ses propres capacités et de les développer.</p>
            </div>

            <a href="{{ path("sophrology") }}" class="btn btn-primary text-light">En savoir plus</a>
        </div>
    </section>


    <section class="container section4 my-4">
        <h2 class="text-lg-left text-center mb-0 mb-lg-3 pb-2">Mes spécialités</h2>
        <div class="row m-0 section-card-speciality d-flex justify-content-between">
            {% for speciality in specialities %}
                <div class="mb-lg-2 my-3 d-flex card">
                    <div class="d-flex justify-content-center">
                        <img src="{{ vich_uploader_asset(speciality, 'posterFile') }}"
                             alt="" class="img-speciality-card"/>
                    </div>
                    <div class="my-2 p-3">
                        <h3 class="text-center">{{ speciality.title }}</h3>
                        <hr class="w-75">
                        <p class="italics">
                            {{ speciality.keywords|raw }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    {% include 'includes/_arrowUp.html.twig' %}
{% endblock %}
