{% extends 'layout.html.twig' %}

{% block title %}Inspire & Expire Sophrologie{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('sophrology') }}
{% endblock %}

{% block body %}
    <header class="mb-5 sophro-header">
        <h1 class="text-center py-5">LA SOPHROLOGIE</h1>
    </header>
    <section class="row mx-0 mb-5 d-flex justify-content-around">
        <div class="col-md-5 col-sm-11 col-11 my-4">
            <img class="shadow p-1 my-5 w-100 h-80" src="{{ asset('build/images/sophrology-presentation.jpg') }}"
                 alt="Image paix zen"/>
        </div>
        <div class="sophro-text col-md-5 col-sm-11 my-5">
            <h2 class="text-center mb-5">La Sophrologie, qu'est ce que c'est ?</h2>
            <p class="text-justify">Créée par le médecin Alfonso Caycedo en 1966, la sophrologie est une
                méthode de
                relaxation psychocorporelle qui permet de retrouver un bien-être au quotidien, de prendre conscience de
                ses
                propres capacités et de les développer. <br/>
                La sophrologie combine des exercices de <strong>respiration</strong>, de
                <strong>détente musculaire</strong> et de <strong>visualisation mentale positive</strong>. Elle s’appuie
                sur des techniques occidentales (hypnose, autosuggestion)
                et des pratiques orientales (yoga, méditation). <br/>
                Il s’agit d’un outil de développement personnel reconnu par l’<strong>Organisation Mondiale de la
                    Santé</strong> et le corps médical en tant que thérapie complémentaire à la médecine
                classique et à la psychothérapie. C’est un « entraînement du corps et de l’esprit » pour parvenir à
                une sérénité et un mieux-être. <br/>
                <strong>Nota: Hypnose ≠Sophrologie</strong>: En sophrologie, vous restez maître de
                vous-même. De plus, la sophrologie peut se pratiquer seul et en <strong>autonomie</strong>,
                à votre rythme, chez vous, en prolongement des séances pédagogiques effectuées dans mon cabinet.
            </p>
        </div>
    </section>
    <section class="row mx-0 py-4 d-flex justify-content-around sophro-header">
        <div class="sophro-text col-md-5 col-sm-11 my-4">
            <h2 class="text-center mb-5">En quoi la Sophrologie peut-elle vous aider?</h2>
            <p>La sophrologie est particulièrement efficace pour
                surmonter des situations complexes et améliorer votre bien-être au quotidien. Vous apprendrez d’une part
                des techniques et outils afin d’atteindre vos objectifs, et d’autre part, vous pourrez les réutiliser en
                autonomie chez vous grâce à une pratique régulière.
            </p>
            <div class="mb-4">
                <p><strong class="text-uppercase">Stress/Émotions</strong> <br />
                Vous guider à gérer votre <strong>stress</strong> et mieux
                    maîtriser vos <strong>émotions</strong> (la colère, la tristesse, évacuer vos tensions…). Vous
                    permettre le lâcher-prise sur les petites contrariétés du quotidien pour mieux vous préparer à
                    surmonter les épreuves importantes.
                </p>
            </div>
            <div class="mb-4">
                <p><strong class="text-uppercase">Événements angoissants</strong> <br/>
                Vous préparer à affronter un <strong>événement
                        angoissant</strong> (un
                    changement dans votre vie, un traitement médical, une séparation, une phase douloureuse de votre
                    vie…)
                </p>
            </div>
            <div class="mb-4">
                <p><strong class="text-uppercase">Concentration/Performance</strong> <br />
                Vous apprendre à <strong>rester concentré(-e)</strong>, à être
                    plus
                    <strong>attentif(-ve)</strong>, à être <strong>plus performant(e) au travail</strong>, à préparer un
                    entretien ou un examen…)
                </p>
            </div>
            <div class="mb-4">
                <p><strong class="text-uppercase">Mal-être corporel/ Mincir sereinement</strong> <br/>
                Vous aider à réduire un <strong>mal être corporel</strong>,
                    des troubles du
                    <strong>comportement alimentaire</strong> (les compulsions alimentaires, la reconnaissance de la
                    faim/ la satiété, les grignotages répétitifs ou des troubles digestifs…)
                </p>
            </div>
            <div class="mb-4">
                <p><strong class="text-uppercase">Meilleur sommeil</strong> <br />
                    Vous permettre de retrouver un <strong>sommeil</strong> plus
                    réparateur, et/ou trouver le sommeil plus facilement.
                </p>
            </div>
        </div>
        <div class="col-md-5 col-sm-11 col-11 pb-5 my-5">
            <img class="shadow p-1 my-5 w-100 h-90" src="{{ asset('build/images/waterfalls.jpg') }}"
                 alt="Image femme balançoire"/>
        </div>
    </section>

    <section class="m-0 my-5 py-5">
        <div class="container d-flex flex-lg-row align-items-center
                    flex-column">
            <h2 class="mb-4 m-lg-5">Mes valeurs et mes engagements</h2>
            <p class="ml-lg-3 m-0">Je suis soumise au secret professionnel et au code de déontologie des sophrologues.
                Je vous accueille dans
                la bienveillance, sans jugement et en toute confidentialité.
                Je vous propose un parcours d&#39;accompagnement personnalisé, clairement établi.
                Sachez que les exercices pratiqués au cour de la séance sont choisis et adaptés en fonction des
                capacités
                physiques et de l’âge (enfant/ adolescent/adulte)</p>
        </div>
    </section>
    <section class="sophro-header  pt-5 mx-0 px-0 ">
        <h2 class="text-center mb-5 pb-2">La Sophrologie, pour qui ?</h2>
        <div class="row container-fluid section-card-client">
            <div class="col-lg-3 col-md-5 col-11 mx-1 mt-3 mb-5">
                <div>
                    <h3 class="text-center">Adultes</h3>
                    <div class="text-center">
                        <a href="{{ path("seances") }}" class="btn btn-primary mt-2">Séance individuelle</a>
                    </div>
                    <hr>
                </div>
                <div class="card-client d-flex justify-content-center">
                    <img src="{{ asset('build/images/couple.png') }}" alt="Image adultes" class="image-logo">
                    <div class="card-client-text"> L’adulte mène plusieurs vies à la fois, vous devez vous partager
                        entre
                        une vie
                        personnelle, une vie familiale et une vie professionnelle. Il faut savoir prendre un temps
                        pour soi car un mal-être peut vite s'installer si vous laissez le <strong>stress
                            s’accumuler.</strong>
                        <br/>
                        Les outils de la sophrologie vous permettront de trouver un état d’équilibre nécessaire à une
                        bonne santé. La sophrologie est particulièrement adaptée pour vous aider à <strong>apaiser votre
                            mental</strong>
                        et chasser les tensions accumulées dans une journée difficile. La relaxation vous accompagnera
                        également
                        dans le vécu d’une <strong>situation déroutante et anxiogène</strong> (une séparation, un deuil,
                        une
                        maladie…).
                        La sophrologie peut aussi vous permettre de mieux <strong>trouver le sommeil</strong> et vous
                        donner
                        des
                        outils
                        pour dormir sereinement.
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-11 mx-1 mt-3 mb-5">
                <div>
                    <h3 class="text-center">Jeunes Mamans</h3>
                    <div class="text-center">
                        <a href="{{ path("seances") }}" class="btn btn-primary mt-2">Séance individuelle</a>
                    </div>
                    <hr>
                </div>
                <div class="card-client d-flex justify-content-center">
                    <img src="{{ asset('build/images/motherhood.png') }}" alt="Image maman" class="image-logo">
                    <div class="card-client-text"><strong>Beaucoup de changements s’opèrent pendant votre grossesse et à
                            l’arrivée
                            de votre bébé</strong>. Votre corps de femme s’est modifié, votre vie de couple s’est
                        transformée,
                        votre attachement à votre bébé est devenu omniprésent… La sophrologie est une méthode douce
                        d’harmonisation du corps et de l’esprit idéale pour vous remettre en forme suite à
                        l’accouchement, <strong>vous réapproprier votre corps, tisser des liens harmonieux avec votre
                            bébé</strong> et vous établir pleinement dans votre nouveau rôle de mère.
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-11 mx-1 mt-3 mb-5">
                <div>
                    <h3 class="text-center">Adolescents</h3>
                    <div class="text-center">
                        <a href="{{ path("seances") }}" class="btn btn-primary mt-2">Séance individuelle</a>
                    </div>
                    <hr>
                </div>
                <div class="card-client d-flex justify-content-center">
                    <img src="{{ asset('build/images/son.png') }}" alt="Image garçon" class="image-logo">
                    <div class="card-client-text"> L'adolescence est une étape de transition bien souvent
                        synonyme d'émotions
                        fortes, de fatigue, de manque de concentration, de mal-être ou de manque de confiance en soi.
                        La sophrologie permet aux adolescents d'aborder cette période de la vie plus sereinement en
                        travaillant sur l'acceptation de ces changements physiques ou émotionnels. La sophrologie permet
                        de <strong>mieux vivre dans son corps</strong>, de <strong>réguler son sommeil</strong>, de
                        renforcer la <strong>confiance en soi</strong>, de développer sa <strong>concentration</strong>
                        et de mieux <strong>se préparer à un examen.</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-11 mx-1 mt-3 mb-5">
                <div>
                    <h3 class="text-center">Enfants</h3>
                    <div class="text-center">
                        <a href="{{ path("seances") }}" class="btn btn-primary mt-2">Séance individuelle</a>
                    </div>
                    <hr>
                </div>
                <div class="card-client d-flex justify-content-center">
                    <img src="{{ asset('build/images/daughter.png') }}" alt="Image enfant" class="image-logo">
                    <div class="card-client-text "> Les enfants sont de plus en plus nombreux à souffrir de nervosité
                        pouvant se révéler
                        par une <strong>hyperactivité</strong> ou des <strong>difficultés relationnelles</strong>. La
                        sophrologie se révèle être une aide complémentaire
                        précieuse. Le sophrologue va faire en sorte d’aider l’enfant à <strong>relâcher ses tensions
                            physiques et émotionnelles</strong> (colère,
                        tristesse, peur…). Cela passe essentiellement par des exercices de respiration et des mouvements
                        ludiques permettant
                        aux enfants de <strong>se concentrer</strong> en étant à l’écoute de leurs ressentis. <br/>
                        <strong>Les séances de sophrologie peuvent commencer à partir de 4 ans.</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-11 mx-1 mt-3 mb-5">
                <div>
                    <h3 class="text-center">Entreprises</h3>
                    <div class="text-center">
                        <a href="{{ path("collective_session_index") }}" class="btn btn-primary mt-2">Séances
                            collectives</a>
                    </div>
                    <hr>
                </div>
                <div class="card-client d-flex justify-content-center">
                    <img src="{{ asset('build/images/briefcase.png') }}" alt="Image sacoche" class="image-logo">
                    <div class="card-client-text ">Sur le plan professionnel, la sophrologie permet de mieux vivre les
                        situations
                        de stress, comme la surcharge de travail, la peur des changements organisationnels. <br/>
                        La sophrologie apprend à être plus concentré(e) à ce que l’on fait, à vivre dans le moment
                        présent, et à ne pas toujours être dans une course contre la montre… <br/>
                        La sophrologie peut vous être utile en prévention d’un burn-out, pour vous
                        <strong>préparer à un entretien</strong> ou pour améliorer vos chances de réussir un
                        <strong>challenge professionnel</strong>.
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
