{% extends 'layoutAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier une spécialité | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('speciality') }}
{% endblock %}

{% block body %}
    <section class="container my-5">
        <h1 class="mb-5 text-center">Modifier la spécalité "{{ speciality.title }}"</h1>
            <div class="admin-edit-speciality">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">Modifier</button>
                {{ form_end(form) }}
            </div>
        <a class="btn btn-outline-primary mt-5" href="{{ path('admin_index_speciality') }}">Retour à la liste</a>
    </section>
<section class="container mb-5">
    <a class="btn btn-outline-primary text-dark mt-3" href="{{ path('admin_index_speciality') }}">Retour à la liste</a>
</section>
{% endblock %}
