{% extends 'layoutAdmin.html.twig' %}

{% block title %}Spécialités | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('speciality') }}
{% endblock %}

{% block body %}
    <section class="container my-5">
        <h1 class="mb-5 text-lg-center text-left">Liste des spécialités</h1>
        <a class="btn btn-primary mb-3" href="{{ path('admin_new_speciality') }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Ajouter une nouvelle spécialité
        </a>
        <table class="table table-hover event-list">
            <thead>
                <tr class="text-lg-left text-center bg-primary text-light">
                    <th scope="col">Titre</th>
                    <th scope="col">Mots clefs</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>

                </tr>
            </thead>
            <tbody>
            {% for speciality in specialities %}
                <tr>
                    <td>{{ speciality.title }}</td>
                    <td class=" ckeditor" >{{ speciality.keywords|raw }}</td>
                    <td class="text-center">
                        <div class="btn-group ">
                            <a class="btn btn-sm btn-outline-primary mr-2" href="{{ path('admin_edit_speciality', {id: speciality.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                </svg>
                            </a>
                        </div>
                    </td>
                    <td>
                        <span class="text-center">{{ include('speciality/_delete.html.twig') }}</span>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-danger" href="{{ path("admin_home") }}">
            Accueil administration
        </a>
    </section>

{% endblock %}
