{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block stylesheets %}
    {{ encore_entry_link_tags('speciality') }}
{% endblock %}

{% block body %}
    <section class="container form-section my-5">
        <h1 class="mb-5 text-lg-left text-center">Ajouter une nouvelle spécialité</h1>
        <div class="text-dark">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-group mb-4">
                <p class="m-0">{{ form_label(form.title, 'Titre') }}</p>
                <p class="m-0">{{ form_widget(form.title) }}</p>
                <p class="m-0">{{ form_errors(form.title) }}</p>
            </div>
            <div class="form-group mb-4">
                <p class="m-0">{{ form_label(form.description, 'Description') }}</p>
                <p class="m-0">{{ form_widget(form.description) }}</p>
                <p class="m-0">{{ form_errors(form.description) }}</p>
            </div>
            <div class="form-group mb-4">
                <p class="m-0">{{ form_label(form.image, 'Image URL') }}</p>
                <p class="m-0">{{ form_widget(form.image) }}</p>
                <p class="m-0">{{ form_errors(form.image) }}</p>
            </div>
            <div class="text-lg-left text-center">
                <a type="submit" class="btn btn-primary"><p class="m-0">Ajouter</p></a>
            </div>
        {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
