{% extends 'layoutAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter une spécialité | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('speciality') }}
{% endblock %}

{% block body %}
    <section class="container my-5">
        <h1 class="mb-5 text-center">Ajouter une spécialité</h1>
        <div class="text-dark">
            <div class="text-dark">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
<section class="container mb-5">
    <a class="btn btn-outline-primary text-dark mt-3" href="{{ path('admin_index_speciality') }}">Retour à la liste</a>
</section>
{% endblock %}
