{% block stylesheets %}
    {{ encore_entry_link_tags('navbar') }}
{% endblock %}
<nav class="navbar navbar-expand-lg navbar navbar-dark shadow p-2">
    <a class="navbar-brand nav-link text-center text-lg-left" href="#">
        <img class="h-25 w-25" src="{{ asset('build/images/logo.png') }}"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav px-5 ml-auto">
            <li class="nav-item pr-3">
                <a class="nav-link" href="{{ path("home") }}">Accueil</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="{{ path("sophrology") }}">Sophrologie</a>
            </li>
            <li class="nav-item dropdown pr-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Séances
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("seances") }}">Séance individuelle</a>
                    <a class="dropdown-item" href="#">Séance collective</a>
                </div>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="{{ path("event_index") }}">Actualités</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="{{ path("contact") }}">Contact</a>
            </li>

            <li class="nav-item dropdown pr-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% if app.user %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a class="dropdown-item" href="{{ path('admin_home') }}">Espace Admin</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('user', {firstname : app.user.firstname, lastname : app.user.lastname}) }}">Mon compte</a>
                        {% endif %}
                    {% else %}
                        <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>

