{% extends 'layoutAdmin.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block body %}
<main class="sheettop container">    <section class="container my-5">
        <h1 class="mb-5 text-lg-center text-left">Liste des questions FAQ</h1>
        <a class="btn btn-primary mb-3" href="{{ path('admin_faq_new') }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd"
                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Ajouter une nouvelle question
        </a>
        <table  class="table table-hover text-center">
            <thead class="table bg-primary text-light">
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Réponse</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for faq in faqs %}
                <tr>
                    <td>{{ faq.subject }}</td>
                    <td>{{ faq.feedback }}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary"
                           href="{{ path('admin_faq_edit', {id: faq.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                                 class="bi bi-pen text-center" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0
                                      1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5
                                      0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1
                                      1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1
                                      1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44
                                      3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                            </svg>
                        </a>
                    </td>
                    <td>
                        <form method="post" action="{{ path('admin_faq_delete', {'id': faq.id}) }}"
                              onsubmit="return confirm('Voulez-vous supprimer cette question/réponse ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ faq.id) }}">
                            <button class="btn btn-sm  btn-outline-danger">
                                <svg width="12" height="12" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0
                                     1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1
                                     0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0
                                    1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0
                                    0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882
                                    4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-danger" href="{{ path("admin_home") }}">


            Accueil administration
        </a>
    </section>



{% endblock %}
