{% extends 'layoutAdmin.html.twig' %}
{% form_theme formReport 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center my-5">Vos comptes-rendus</h1>

        {{ form_start(formReport) }}
        <p class="mb-0">{{ form_label(formReport.message) }}</p>
        <p>{{ form_widget(formReport.message) }}</p>
        <p class="mb-0">{{ form_label(formReport.patient) }}</p>
        <p>{{ form_widget(formReport.patient) }}</p>
        <p class="mb-0">{{ form_label(formReport.date) }}</p>
        <p>{{ form_widget(formReport.date) }}</p>
        <button class="btn btn-primary"><p class="mb-0">Envoyer</p></button>
        {{ form_end(formReport) }}
    </section>
{% endblock %}
