{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inspire & Expire Contact{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <header>
        <div class="card bg-white text-white">
            <img class="intro-img" src="{{ asset('build/images/snow.jpg') }}" alt="bannière">
            <div class="card-img-overlay">
                <h1 class="timetable-title text-center">CONTACT</h1>
            </div>
        </div>
    </header>
    <section class="timetable-section pt-5 pb-5">
        <div class="row mx-0 text-justify d-flex justify-content-center align-items-center">
            <div class="col-lg-2 col-sm-10 col-7 timetable-text">
                <h2 class="mx-0 timetable-title mb-5">Les horaires</h2>
                <p>Lundi : 9h00-19h00</p>
                <p>Mardi : 9h00-19h00</p>
                <p>Mercredi : 9h00-19h00</p>
                <p>Jeudi : 9h00-19h00</p>
                <p>Vendredi : 9h00-19h00</p>
                <p>Samedi : 9h00-13h00</p>
                <p>Dimanche : Fermé</p>
            </div>
            <div class="col-lg-4 col-sm-10 offset-lg-1 pt-5 timetable-image d-flex justify-content-center">
                <img class="img-timetable col-sm-10" src="{{ asset('build/images/contact-timetable.jpg') }}" alt="Image journal horaires"/
            </div>
        </div>
    </section>
    <section class="form-section container mt-6 mb-5">
        <div class="row mx-0">
            <div class="col-lg-6 col-sm-12 col-12 mb-0 contact-right">
                <h3 class="text-center mt-5">Vous avez des questions ?</h3>
                <h3 class="text-center mb-5">Vous souhaitez prendre un RDV ?</h3>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col my-2">
                        {{ form_label(form.firstname, 'Prénom') }}
                        {{ form_widget(form.firstname) }}
                    </div>
                    <div class="col my-2">
                        {{ form_label(form.lastname, 'Nom') }}
                        {{ form_widget(form.lastname) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        {{ form_label(form.phone, 'Numéro de téléphone') }}
                        {{ form_widget(form.phone) }}
                    </div>
                    <div class="col my-2">
                        {{ form_label(form.email, 'Adresse Email') }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="my-2">
                    <div class="my-2">
                        {{ form_label(form.theme, 'Thème') }}
                        {{ form_widget(form.theme) }}
                    </div>
                    <div class="my-2">
                        {{ form_label(form.message, 'Message') }}
                        {{ form_widget(form.message) }}
                    </div>
                </div>
                <button class="btn btn-primary text-info my-2">{{ ('Envoyer') }}</button>
                {{ form_end(form) }}
            </div>
            <div class="p-0 col-lg-6 col-sm-12 col-12">
                <img class="img-timetable w-100 h-100" src="{{ asset('build/images/phone-contact.jpg') }}"
                     alt="Image téléphone contact"/>
            </div>
        </div>
    </section>
{% endblock %}