{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inspire & Expire Contact{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    {% set days = {
        0: {'day':'Mon', 'jour':'LUNDI', 'horaire':'9h00-19h00'},
        1: {'day':'Tue', 'jour':'MARDI', 'horaire':'9h00-19h00'},
        2: {'day':'Wed', 'jour':'MERCREDI', 'horaire':'9h00-19h00'},
        3: {'day':'Thu', 'jour':'JEUDI', 'horaire':'9h00-19h00'},
        4: {'day':'Fri', 'jour':'VENDREDI', 'horaire':'9h00-19h00'},
        5: {'day':'Sat', 'jour':'SAMEDI', 'horaire':'9h00-13h00'},
        6: {'day':'Sun', 'jour':'DIMANCHE', 'horaire':'Fermé'},
    } %}
    <header>
        <h1 class="timetable-title text-center py-5">CONTACT</h1>
    </header>
    <section class="timetable-section py-5 mt-5 d-flex align-items-center">
        <div class="card container p-0 my-5">
            <div class="row no-gutters">
                <div class="p-0 col-lg-6 col-sm-12 col-12">
                    <img class="img-timetable w-100 h-100" src="{{ asset('build/images/contact-timetable.jpg') }}"
                         alt="Image journal horaires"/>
                </div>
                <div class="col-lg-6 col-sm-12 col-12 mb-0">
                    <div class="card-body">
                        <h2 class="card-title mb-4 text-center">Horaires d'ouverture</h2>
                        <ul class="list-group list-group-flush text-center d-flex align-items-center">
                            {% for day in days %}
                                <li class="{% if "now"|date('D') == day.day %}list-group-item w-50 strongDay {% else %}
                                list-group-item w-50{% endif %}">{{ day.jour }} : {{ day.horaire }}</li>
                            {% endfor %}
                        </ul>
                        <p class="card-text text-center mt-2"><small
                                    class="text-muted">Le cabinet respecte les normes d’accès pour les personnes à mobilité
                                réduite</small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="form-section container my-5">
        <div class="row mx-0">
            <div class="col-lg-6 col-sm-12 col-12 mb-0 contact-right">
                <h3 class="text-center mt-5">Vous avez des questions ?</h3>
                <h3 class="text-center mb-5">Vous souhaitez prendre un RDV ?</h3>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col my-2">
                        {{ form_label(form.firstname, 'Prénom') }}
                        {{ form_widget(form.firstname) }}
                    </div>
                    <div class="col my-2">
                        {{ form_label(form.lastname, 'Nom') }}
                        {{ form_widget(form.lastname) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        {{ form_label(form.phone, 'Numéro de téléphone') }}
                        {{ form_widget(form.phone) }}
                    </div>
                    <div class="col my-2">
                        {{ form_label(form.email, 'Adresse Email') }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="my-2">
                    <div class="my-2">
                        {{ form_label(form.theme, 'Thème') }}
                        {{ form_widget(form.theme) }}
                    </div>
                    <div class="my-2">
                        {{ form_label(form.message, 'Message') }}
                        {{ form_widget(form.message) }}
                    </div>
                </div>
                <button class="btn btn-primary text-info my-2">{{ ('Envoyer') }}</button>
                {{ form_end(form) }}
            </div>
            <div class="p-0 col-lg-6 col-sm-12 col-12">
                <img class="img-timetable w-100 h-100" src="{{ asset('build/images/phone-contact.jpg') }}"
                     alt="Image téléphone contact"/>
            </div>
        </div>
    </section>
    <section class="map-section pt-5 mt-5">
        <div class="pb-3">
            <h3 class="text-center">Vous souhaitez me joindre par téléphone ?</h3>
            <p class="lead text-center">Contactez-moi au 06 27 30 98 90</p>
            <hr class="my-4 w-50">
            <h3 class="text-center">Situer le cabinet de Sophrologie</h3>
            <p class="text-center">304 rue de Saint-Denis, 45560 Saint-Denis en Val</p>
        </div>
        <div class="p-0 col-lg-12 col-sm-12">
            <iframe width="100%" height="500"
                    frameborder="50" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=1.95020%2C47.88027%2C1.95422%2C47.87873&amp;layer=mapnik&amp;marker=47.87967%2C1.95240"></iframe>
            <a href="https://www.openstreetmap.org/?mlat=47.87967&amp;mlon=1.95240#map=19/47.87976/1.95282"></a>
        </div>
    </section>
{% endblock %}