{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Contacts et horaires | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    {% set days = {
        0: {'day':'Mon', 'jour':'LUNDI', 'horaire':'9h00-19h00'},
        1: {'day':'Tue', 'jour':'MARDI', 'horaire':'9h00-19h00'},
        2: {'day':'Wed', 'jour':'MERCREDI', 'horaire':'9h00-19h00'},
        3: {'day':'Thu', 'jour':'JEUDI', 'horaire':'9h00-19h00'},
        4: {'day':'Fri', 'jour':'VENDREDI', 'horaire':'9h00-19h00'},
        5: {'day':'Sat', 'jour':'SAMEDI', 'horaire':'9h00-13h00'},
        6: {'day':'Sun', 'jour':'DIMANCHE', 'horaire':'Fermé'},
    } %}
    <header class="contact-section mb-5">
        <h1 class="text-center py-5">CONTACT ET HORAIRES</h1>
    </header>
    <section class="mt-0 py-2 d-flex align-items-center">
        <div class="card container p-0 my-5">
            <div class="contact-section row no-gutters">
                <div class="p-0 col-lg-6 col-sm-12 col-12">
                    <img class="img-timetable w-100 h-100" src="{{ asset('build/images/office.png') }}"
                         alt="Image journal horaires"/>
                </div>
                <div class="col-lg-6 col-sm-12 col-12 mb-0">
                    <div class="card-body">
                        <h2 class="card-title mb-4 text-center">Horaires d'ouverture</h2>
                        <ul class="list-group list-group-flush text-center d-flex align-items-center ">
                            {% for day in days %}
                                <li class="{% if "now"|date('D') == day.day %} strongDay py-2 {% else %}
                                py-2 {% endif %}">{{ day.jour }} : {{ day.horaire }}</li>
                            {% endfor %}
                        </ul>
                        <p id="contact" class="card-text text-center mt-2"><small
                                    class="text-muted">Le cabinet respecte les normes d’accès pour les personnes à
                                mobilité
                                réduite</small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="card container my-5 p-0">
        <div class="contact-section row mx-0">
            <div class="col-lg-6 col-sm-12 col-12 px-5">
                <h3 class="text-center my-4">Vous souhaitez un Rendez-Vous ?</h3>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col my-3">
                        {{ form_label(form.firstname, 'Prénom') }}
                        {{ form_widget(form.firstname) }}
                    </div>
                    <div class="col my-3">
                        {{ form_label(form.lastname, 'Nom') }}
                        {{ form_widget(form.lastname) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col my-2">
                        {{ form_label(form.phone, 'Numéro de téléphone') }}
                        {{ form_widget(form.phone) }}
                    </div>
                    <div class="col my-2">
                        {{ form_label(form.email, 'Adresse Email') }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="my-3">
                    <div class="my-3">
                        {{ form_label(form.theme, 'Thème') }}
                        {{ form_widget(form.theme) }}
                    </div>
                    <div class="my-3">
                        {{ form_label(form.message, 'Message') }}
                        {{ form_widget(form.message) }}
                    </div>
                </div>

                <button class="btn btn-primary text-light my-4">{{ ('Envoyer') }}</button>

                {{ form_end(form) }}
            </div>
            <div class="p-0 col-lg-6 col-sm-12 col-12">
                <img class="img-timetable w-100 h-100" src="{{ asset('build/images/contact.jpg') }}"
                     alt="Image téléphone contact"/>
            </div>
        </div>
    </section>

    <section class="py-2 d-flex align-items-center">
        <div class="card container p-0 my-5">
            <div class="contact-section row no-gutters">
                <div class="p-0 col-lg-6 col-sm-12 col-12">
                    <iframe width="100%" height="500"
                            frameborder="no" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.openstreetmap.org/export/embed.html?bbox=1.95020%2C47.88027%2C1.95422%2C47.87873&amp;layer=mapnik&amp;marker=47.87967%2C1.95240"></iframe>
                    <a href="https://www.openstreetmap.org/?mlat=47.87967&amp;mlon=1.95240#map=19/47.87976/1.95282"></a>
                </div>
                <div class="col-lg-6 col-sm-12 col-12 py-3">
                    <div class="card-body ">
                        <div class="mt-2">
                            <h3 class="text-center pb-2">Vous souhaitez me contacter par téléphone ?</h3>
                            <p class="text-center">Charlotte RICORDEAU <br/>
                                Sophrologue, Nutritionniste-Diététicienne <br/>
                                06 27 30 98 90</p>
                        </div>
                        <div class="mt-3">
                            <hr class="my-5 w-50">
                            <h3 class="text-center pb-2">Se rendre au cabinet de Sophrologie</h3>
                            <p class="text-center">304 rue de Saint-Denis <br/>
                                45560 saint denis-en-val</p>
                            <p class="card-text text-center mt-4"><small class="text-muted">Le cabinet de sophrologie
                                    dispose d'un espace de stationnement</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
