{% block stylesheets %}
    {{ encore_entry_link_tags('navbarAdmin') }}
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light d-flex align-items-center justify-content-center">
    <div class="d-flex justify-content-center align-items-center flex-lg-row
                flex-column">
            <a href="{{ path('home') }}" class="mx-2 text-decoration-none text-light text-uppercase">
                <img class="logo" src="{{ asset('build/images/logo.png') }}"/>
            </a>
        <p class="mb-lg-0 mr-lg-5 ml-lg-3 mx-0 my-2 text-light">ESPACE ADMINISTRATEUR</p>
        <button class="navbar-toggler  my-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse ml-5 " id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="{{ path("admin_home") }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="{{ path("admin_event_index") }}">Actualités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="{{ path("admin_index_speciality") }}">Spécialités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#">Tarifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#">Témoignages</a>
            </li>
        </ul>
    </div>
    <li class="mt-lg-2 mt-lg-0  my-2 list-unstyled d-flex align-items-center">
        {% if app.user %}
            <a class="text-light btn btn-outline-light" href="{{ path('app_logout') }}"> Se déconnecter</a>
        {% else %}
            <a class="text-light btn btn-outline-light" href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
    </li>
</nav>

