{% block stylesheets %}
    {{ encore_entry_link_tags('navbarAdmin') }}
{% endblock %}
<nav class="navbar navbar-expand-lg navbar navbar-dark shadow p-2">
<<<<<<< HEAD
    <a href="{{ path('admin_home') }}" class="mx-3 text-decoration-none text-light text-uppercase d-flex align-items-center">
=======
     <a href="{{ path('admin_home') }}" class="mx-3 text-decoration-none text-light text-uppercase d-flex align-items-center">
>>>>>>> S04US74_delete_logo_dependedit
        <img src="{{ asset('build/images/worker.png') }}" alt="logo_admin" class="logo-admin d-none d-lg-inline mr-2">
        ADMINISTRATEUR
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item pr-3">
                <a class="nav-link text-light text-uppercase" href="{{ path("admin_event_index") }}">Actualités</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link text-light text-uppercase" href="{{ path("admin_index_speciality") }}">Spécialités</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link text-light text-uppercase" href="{{ path('admin_prices_index') }}">Tarifications</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link text-light text-uppercase" href="{{ path('testimony_index') }}">Témoignages</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link text-light text-uppercase" href="{{ path("admin_logo_index") }}">Logos</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link text-light text-uppercase" href="{{ path("admin_faq_index") }}">FAQ</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link text-light text-uppercase" href="{{ path("home") }}">Retour sur site</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link text-light btn btn-outline-light" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
        </ul>
    </div>
</nav>
<<<<<<< HEAD


=======
>>>>>>> S04US74_delete_logo_dependedit
