{% extends 'layout.html.twig' %}
{% form_theme formEditUser 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('myAccount') }}
{% endblock %}

{% block title %}Mon espace personnel{% endblock %}


{% block body %}
    <section class="container mb-5">
        <h1 class="my-5 text-center">Bienvenue dans votre espace personnel</h1>
        <hr>
        <div>
            <h2>Mes informations personnelles</h2>

            <p class="mb-0 mt-3">Prénom : <strong>{{ app.user.firstname }}</strong></p>
            <p class="mb-0 mt-3">Nom : <strong>{{ app.user.lastname }}</strong></p>
            <p class="mb-0 mt-3">Adresse email : <strong>{{ app.user.email }}</strong></p>
        </div>

{#        <hr>#}

        <div class="my-4">
{#            <h3 class="mb-4">Formulaire de modification</h3>#}
            <div class="accordionForm">
                <div class="card w-100">
                    <div class="card-header" id="headingThree">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="true" aria-controls="collapseThree">
                            <h3 class="title-collapse">Modifier mes données personnelles</h3>
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion"
                         style="">
                        <div class="card-body">
                            {{ form_start(formEditUser) }}

                            <p class="m-0">{{ form_label(formEditUser.lastname, 'Nom :') }}</p>
                            <p>{{ form_widget(formEditUser.lastname) }}</p>

                            <p class="m-0 mt-3">{{ form_label(formEditUser.firstname, 'Prénom :') }}</p>
                            <p>{{ form_widget(formEditUser.firstname) }}</p>

                            <p class="m-0 mt-3">{{ form_label(formEditUser.email, 'Adresse email :') }}</p>
                            <p>{{ form_widget(formEditUser.email) }}</p>
                            <button class="btn btn-primary"><p class="m-0">{{ 'Sauvegarder' }}</p></button>
                            {{ form_end(formEditUser) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="my-4">
            <h2 class="mb-4">Mes comptes rendus</h2>
            <div id="accordion">
                {% for report in reports %}
                    <div class="card w-100 my-2">
                        <div class="card-header" id="headingOne{{ loop.index }}">
                            <button class="btn btn-link" data-toggle="collapse"
                                    data-target="#collapseOne{{ loop.index }}"
                                    aria-expanded="true" aria-controls="collapseOne1">
                                <h3 class="title-collapse">Compte rendu n° {{ loop.index }} | Séance du {{ report.date|date('d/m/Y') }}</h3>
                            </button>
                        </div>

                        <div id="collapseOne{{ loop.index }}" class="collapse"
                             aria-labelledby="headingOne{{ loop.index }}" data-parent="#accordion">
                            <div class="card-body">
                                <p class="m-0 report-message">{{ report.message|raw }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="m-0">Vous n'avez pas encore de comptes-rendues pour le moment</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
